<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Group Event Reminder!</h3>
    <p>
      You have an upcoming group event:
    </p>
    <h5><%= @event.title %><h5>
    <%= @event.start_time %>
  </body>
</html>