<main role="main" class="sign-in" style="text-align:center;">
  <div>
    <h2> Create A New Group</h2>
    <div>
      <div>
        You will be <strong>admin</strong> of this group
      </div>
      <%= render 'form' %>
    </div>
  </div>
</main>