<div class="alert alert-info">
  <strong>Note:</strong> Use a valid email address as your user id
</div>
<div class="text-field">
  <%= form.label :User_ID %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
